body {
    padding: 0 180px;
}

.wrapper {
    display: flex;
}

.image-wrapper {
    width: 300px;
    height: 300px;
}

.cat-names p {
    cursor: pointer;
}

.individual-cat-images {
    cursor: pointer;
    width: 100%;
    height: auto;
}

.cat-details {
    margin-left: auto;
}

.individual-cat-count {
    font-weight: 600;
}

.admin-area button {
    margin-bottom: 30px;
}